<div class="container-fluid">
  <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeId" [destroyOnHide]="false">
    <li [ngbNavItem]="1" id="tabHat">
      <a ngbNavLink>Hat</a>
      <ng-template ngbNavContent>
        <div class="tab-content">
          <app-tab-hat></app-tab-hat>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" id="tabChest">
      <a ngbNavLink>Chest</a>
      <ng-template ngbNavContent>
        <div class="tab-content">
          <app-tab-chest></app-tab-chest>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3" id="tabPants">
      <a ngbNavLink>Pants</a>
      <ng-template ngbNavContent>
        <div class="tab-content">
          <app-tab-pants></app-tab-pants>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="4" id="tabBack">
      <a ngbNavLink>Back</a>
      <ng-template ngbNavContent>
        <div class="tab-content">
          <app-tab-back></app-tab-back>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
