<div class="container-fluid">
  <ngb-tabset (tabChange)="beforeChange($event)" [justify]="'fill'" [activeId]="'tabChest'">
    <ngb-tab id="tabHat">
      <ng-template ngbTabTitle>Hat</ng-template>
      <ng-template ngbTabContent>
        <div class="tab-content">
          <app-tab-hat></app-tab-hat>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tabChest">
      <ng-template ngbTabTitle>Chest</ng-template>
      <ng-template ngbTabContent>
        <div class="tab-content">
          <app-tab-chest></app-tab-chest>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tabPants">
      <ng-template ngbTabTitle>Pants</ng-template>
      <ng-template ngbTabContent>
        <div class="tab-content">
          <app-tab-pants></app-tab-pants>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tabBack">
      <ng-template ngbTabTitle>Back</ng-template>
      <ng-template ngbTabContent>
        <div class="tab-content">
          <app-tab-back></app-tab-back>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
